/* ------------------------------------------start nav public----------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
/* 
    font-family: 'Changa', sans-serif;
*/
:root{
    --mainColor:rgba(23, 93, 254);
    --myWhite: rgba(255, 255, 255);
    --borderRadiusDefult:.375rem;
    --borderRadiusPill:50rem;
}
*{
    font-family: 'Changa', sans-serif;
}
.mybtn{
    font-size: 1.3rem;
    padding: .5rem 1rem;
    border-width: 1px;
    border-style:solid;
    width: fit-content;
    text-decoration: none;
    border-radius: var(--borderRadiusPill);
    -webkit-border-radius: var(--borderRadiusPill);
    -moz-border-radius: var(--borderRadiusPill);
    -ms-border-radius: var(--borderRadiusPill);
    -o-border-radius: var(--borderRadiusPill);
}
.row {
    flex-direction: row-reverse;
}
.mainTitle{
    color: black;
    font-size: 4rem;
    padding: 3rem 0;
}
/* ------------------------------------------end nav public----------------------------------------------------- */

/* ------------------------------------------start nav div----------------------------------------------------- */
nav.navbar {
    background-color: var(--mainColor);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
nav.navbar .container{
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem .5rem;
}
.navbar-collapse .navbar-nav{
    display: flex;
    flex-direction: row-reverse;
}
.nav-item .nav-link.active{
    color: var(--myWhite);
    padding: .5rem .8rem;
    font-family: 'Changa', sans-serif;
    border-radius: var(--borderRadiusDefult);
    -webkit-border-radius: var(--borderRadiusDefult);
    -moz-border-radius: var(--borderRadiusDefult);
    -ms-border-radius: var(--borderRadiusDefult);
    -o-border-radius: var(--borderRadiusDefult);
    margin: 0rem .5rem;
    border-width: 1px;
    border-style:solid;
    border-color: transparent;
}
.nav-item .nav-link.active.singIn{
    background-color: var(--myWhite);
    color: var(--mainColor);
    padding: .5rem 1.5rem;
    border-color: var(--myWhite);
    
}
.nav-item .nav-link.active:hover{
    background-color: var(--myWhite);
    color: var(--mainColor);
}
.nav-item .nav-link.active.singIn:hover{
    background-color: transparent;
    color: var(--myWhite);
}
.lines{
    height: 100%;
    margin-top: .7rem;
}
.navbar-toggler-line{
    width: 2.5rem;
    height: .2rem;
    background-color: var(--myWhite);
    margin-bottom:  .5rem;
}
.navbar-toggler{
    color: var(--myWhite);
    border-color: var(--myWhite);
}
/* ------------------------------------------end nav div----------------------------------------------------- */
/* ------------------------------------------start header div----------------------------------------------------- */
.header{
    width: 100%;
    height: 100vh;
    background-image: url('../images/background1.jpg');
    background-size: cover;
    position: relative;
}
.header .container{
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 100%;
    justify-content: center;
    color: var(--myWhite);
    align-items: flex-end;
}
.header .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:  rgba(0, 53, 187, 0.4) ;
    z-index: 0;
}
.header .headTitle{
    font-size: 5rem;
    width: fit-content;
}
.header .describtion{
    font-size: 2rem;
    width: fit-content;
}
.appointmentBooking{
    
    color: var(--mainColor);
    background-color: var(--myWhite);
    margin: 0rem .5rem;
    border-color:var(--myWhite) ;
}
.appointmentBooking:hover{
    background-color: transparent;
    color: var(--myWhite);
}
/* ------------------------------------------end header div----------------------------------------------------- */
/* ------------------------------------------start about div----------------------------------------------------- */
.aboutAs .leftDiv img{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.aboutAs .row{
    flex-direction: row;
}
.aboutAs .rightDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
}
.aboutAs .mainTitleAbout{
    font-size: 3rem;
    margin-bottom: 3rem;
}
.aboutAs .describtion{
    font-size: 1.5rem;
}
.btndiv{
    margin-top: 3rem;
}
.aboutAs .contactBtn{
    color: #fe5f55;
}
.aboutAs .contactBtn:hover{
    background-color: #fe5f55;
    color: var(--myWhite);
}
.aboutAs .appointmentBookingBtn:hover{
    background-color: var(--mainColor);
    color: var(--myWhite);
}
/* ------------------------------------------end about div----------------------------------------------------- */
/* ------------------------------------------start counter div----------------------------------------------------- */
.counter{
    background-image: url('../images/counter-bg.jpg.webp');
    padding: 6rem 0;
    text-align: center;
    background-size: cover;
    position: relative;
    z-index: -2;
}
.counter .overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    z-index: -1;
}
.counter .row{
    flex-direction: row-reverse;
}
.counter .item{
    background-color: rgba(255, 255, 255,.2);
padding: 2rem;
color: var(--myWhite);
margin: 0 1rem;
height: 100%;
}
.counter .item .number{
  font-size: 4rem;  
}

.counter .item p{
    font-size: 1.5rem;
}
/* ------------------------------------------end counter div----------------------------------------------------- */
/* ------------------------------------------start services div----------------------------------------------------- */
.services{
    padding: 5rem;
    text-align: center;
}

.service{
    background-color: var(--mainColor);
    color: var(--myWhite);
    padding: 3rem .5rem;
    margin: 1rem 0;
    border-radius: var(--borderRadiusDefult);
    -webkit-border-radius: var(--borderRadiusDefult);
    -moz-border-radius: var(--borderRadiusDefult);
    -ms-border-radius: var(--borderRadiusDefult);
    -o-border-radius: var(--borderRadiusDefult);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.service:hover{
    background-color: #6c757d26;
    color: var(--mainColor);
}
/* ------------------------------------------end services div----------------------------------------------------- */
/* ------------------------------------------start doctors div----------------------------------------------------- */
.doctors{
    text-align: center;
    background-color: #e3e3e3;
    color: var(--myWhite);
    padding-bottom: 3rem;
}
.doctor{
    background-color: var(--mainColor);
    height: 100%;
    border-radius: var(--borderRadiusDefult);
    -webkit-border-radius: var(--borderRadiusDefult);
    -moz-border-radius: var(--borderRadiusDefult);
    -ms-border-radius: var(--borderRadiusDefult);
    -o-border-radius: var(--borderRadiusDefult);
}
.doctor img{
    width: 100%;
    height: 400px;
}
.doctor .image{
    overflow: hidden;
    position: relative;
    
}
.doctor .image .contact{
    background-color: var(--myWhite);
    position: absolute;
    bottom: -2.25rem;
    left: 0;
    right: 0;
    visibility: hidden;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.doctor .contact .link{
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 .5rem;
    color: var(--mainColor);
}
.doctor .image:hover .contact{
    visibility: visible;
    bottom: 0;
}
.doctor .contact .link.ines{
    color: #d6249f;
}
/* ------------------------------------------end doctors div----------------------------------------------------- */
/* ------------------------------------------start studio div----------------------------------------------------- */
.studio{
    text-align: center;
    padding: 3rem 0;
}
.studio img{
    width: 100%;
    height: 100%;
    border-radius: var(--borderRadiusDefult);
    -webkit-border-radius: var(--borderRadiusDefult);
    -moz-border-radius: var(--borderRadiusDefult);
    -ms-border-radius: var(--borderRadiusDefult);
    -o-border-radius: var(--borderRadiusDefult);
}
.studio .image{
    height: 100%;
    padding: 1rem 0;
}
/* ------------------------------------------end studio div----------------------------------------------------- */




